@import "src/shared.scss";

.not-found__container {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background: linear-gradient(to right, #f5f5f5cc, #f5f5f5cc),
    url("./../../assets/background.svg");
  background-position: center;
}

.not-found__content {
  max-width: 60%;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found__title{
  font-size: 1.6rem;
  margin-bottom: 0;

}

.not-found__image {
  margin: 2rem 0;
  max-width: 400px;
}

.not-found__container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.not-found__link {
  padding:0.8rem 1.5rem;
  font-size: 1.1rem;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .image-not-found {
    max-width: 60%;
  }
  .description-text{
    font-size: 1.3rem;
  }
  .btn-contact {
    padding: 0.6rem 55px;
  }
  .body-not-found {
    max-width: 90%;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .body-not-found {
    max-width: 70%;
  }
  .description-text{
    font-size: 1.5rem;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
