<app-header></app-header>
<div class="not-found__container">
  <div class="not-found__content">
    <h1 class="not-found__title">
    Hmmmm! No hemos encontrado lo que buscabas.
    </h1>
    <img
      class="not-found__image"
      src="../../../../assets/not-found.svg"
      alt="logo"
    />

    <div class="not-found__container-button">
      <a href="/" class="btn not-found__link">
        {{ "NOT_FOUND.RETORNAR" | translate }}
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
