@import "src/shared.scss";

.job__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 5rem;
}

.job__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.job__details-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 1rem;
}

.job__details-paragraph {
  margin-top: 0;
}

#player {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.job__container-video {
  display: flex;
}
.job__container-image {
  display: flex;
}

.job__image {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px #e3dfdf;
  background-size: cover;
}

.job__link {
  cursor: pointer;
  margin: 1rem 0;
  text-transform: initial;
  text-decoration: initial;
  color: #1a8cff;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: break-spaces;
}

.job__link:hover {
  color: #0066cd;
  text-decoration: underline;
}

@media print, screen and (max-width: $max-screen-phone) {

  .job__video {
    border-radius: 10px;
    width: 100%;
  }

  .job__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ececec;
  }
  .job__details {
    margin-top: 1rem;
    align-items: center;
  }
  p {
    margin: 0 !important;
    text-align: center;
    font-size: 0.9rem;
  }
  .job__github {
    margin-bottom: 3rem;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .projects {
    padding: 3rem 0;
  }
  .job__video {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 350px;
  }

  .job__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ececec;
  }

  .job__details {
    margin-top: 1rem;
    align-items: center;
  }
  p {
    margin: 0 !important;
    text-align: center;
    font-size: 0.9rem;
  }
  .job__github {
    margin-bottom: 5rem;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
