<section #recomendations class="reviews">
  <div class="main-container">
    <div class="container__title container__title--transform-margin">
      <h1 class="title">{{ "RECOMMENDATIONS.TITULO" | translate }}</h1>
      <span class="subtitle">
        {{ "RECOMMENDATIONS.DESCRIPCION" | translate }}
      </span>
    </div>

    <div class="reviews__content">
      <div #testimonyComponent>
        <app-testimony [testimony]="currentTestimony"> </app-testimony>
      </div>
    </div>
    <div class="reviews__controls">
      <div
        class="reviews__container-dot"
        *ngFor="let item of testimonies; let i = index"
      >
        <span
          (click)="controlDot(i)"
          class="reviews__dot"
          [ngClass]="{ 'reviews__dot--active': activeDot === i }"
        ></span>
      </div>
    </div>
  </div>
</section>
