@import "./src/shared.scss";

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  padding: 5rem 2rem 2rem 2rem;
  color: #fff;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer__content {
  max-width: 40%;
}

.footer__content-description {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #eee;
  margin-bottom: 2rem;
}

.footer__content-title,
.footer__social-title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__social-link {
  cursor: pointer;
  margin-right: 1rem;
  padding: 7px 12px;
  border-radius: 50%;
  border: 2px solid #ffffff4d;
  color: white;
}

.footer__social-link:hover {
  background-color: white;
  color: black;
}

.footer__last-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #444;
  text-align: center;
}

.footer__create-with,
.footer__copy-right {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

.footer__personal-link {
  cursor: pointer;
  border-radius: 50%;
  font-weight: bolder;
  color: white;
}

.bold {
  font-weight: bold;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .container-start-project {
    padding: 1.5rem 1.25rem;
    margin-top: -7rem;
  }
  .start-project {
    flex-direction: column;
    span {
      font-size: 0.9rem;
    }

    button {
      font-size: 1rem;
    }
  }

  .item-start-project {
    margin-bottom: 1rem;
  }
  .title-start-project {
    font-size: 1.3rem;
  }
  .custom-logo {
    height: 50px;
    width: 50px;
  }
  .section {
    padding: 3.5rem 1.5rem;
  }
  .motivation-text {
    h1 {
      font-size: 1.3rem;
    }
  }
  .item-link {
    margin-bottom: 7px;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .title-start-project {
    font-size: 1.5rem;
  }
  .start-project {
    span {
      font-size: 0.9rem;
    }

    button {
      font-size: 1rem;
    }
  }
  .container-start-project {
    padding: 2.5rem 1.25rem;
  }
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
