<section class="footer">
  <footer class="main-container">
    <div class="footer__container">
      <div class="footer__content">
        <h2 class="footer__content-title">Daniel lópez</h2>

        <span class="footer__content-description">
          {{ "FOOTER.DESCRIPCION" | translate }}

        </span>
      </div>
      <div class="footer__social">
        <h2 class="footer__social-title">{{ "FOOTER.SOCIAL" | translate }}</h2>
        <!-- <a class="footer__social-email" href="mailto:daniellopezj0327@gmail.com"
          >daniellopezj0327@gmail.com</a
        > -->
        <div>
          <a
            class="footer__social-link"
            *ngFor="let item of controls"
            [href]="item.link"
            target="_blank"
            [attr.aria-label]="item.name"
          >
            <fa-icon [icon]="item.icon"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__last-line">
      <div class="footer__copy-right">
        &copy; Copyright 2022,
        <span> {{ "FOOTER.CREADO_POR" | translate }}</span>
        <a class="footer__personal-link" href="/" target="_blank">
          Daniel López
        </a>
      </div>
      <div class="footer__create-with">
        <span>
          {{ "FOOTER.CREADO_CON" | translate }}
          <span class="bold"> Angular</span>
        </span>
      </div>
    </div>
  </footer>
</section>
