@import "./src/shared.scss";

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  padding: 5rem 2rem 2rem 2rem;
  color: #fff;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.footer__content {
  max-width: 40%;
}

.footer__content-description {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #eee;
  margin-bottom: 2rem;
}

.footer__content-title,
.footer__social-title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__social-link {
  cursor: pointer;
  margin-right: 1rem;
  padding: 7px 12px;
  border-radius: 50%;
  border: 2px solid #ffffff4d;
  color: white;
}

.footer__social-link:hover {
  background-color: white;
  color: black;
}

.footer__last-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #444;
  text-align: center;
}

.footer__create-with,
.footer__copy-right {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-size: 0.8rem;
  opacity: 0.7;
}

.footer__personal-link {
  cursor: pointer;
  border-radius: 50%;
  font-weight: bolder;
  color: white;
}

.bold {
  font-weight: bold;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .footer {
    padding: 3rem 0 2rem 0;
  }

  .footer__container {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .footer__content {
    max-width: 100%;
    margin-top: 3rem;
  }
  .footer__content-title {
    margin-bottom: 1rem;
  }

  .footer__content-title,
  .footer__social-title {
    font-size: 1.3rem;
  }

}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
