<section class="footer">
  <footer class="main-container">
    <div class="footer__container">
      <div class="footer__content">
        <h1 class="footer__content-title">Daniel lópez</h1>

        <span class="footer__content-description">
          RAM MAHESHWARI A Frontend focused Web Developer building the Frontend
          of Websites and Web Applications that leads to the success of the
          overall product
        </span>
      </div>
      <div class="footer__social">
        <h1 class="footer__social-title">Social</h1>
        <a
          class="footer__social-link"
          *ngFor="let item of controls"
          [href]="item.link"
          target="_blank"
          [attr.aria-label]="item.name"
        >
          <fa-icon [icon]="item.icon"></fa-icon>
        </a>
      </div>
    </div>
    <div class="footer__last-line">
      <div class="footer__copy-right">
        &copy; Copyright 2022, Made by
        <a class="footer__personal-link" href="/" target="_blank">
          Daniel López
        </a>
      </div>
      <div class="footer__create-with">
        <span>
          {{ "FOOTER.CREADO_CON" | translate }}
          <span class="bold"> Angular</span>
        </span>
      </div>
    </div>
  </footer>
</section>
