@import "./src/shared.scss";

.projects {
  padding: 7rem 0;
}

.projects__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 5rem;
}

.projects__details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.projects__details-content{
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 2rem;
}

.projects__video{
  border-radius: 10px;
}
//phone
@media print, screen and (max-width: $max-screen-phone) {
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
