<section id="projects" *ngIf="jobs.length" class="projects">
  <div class="main-container">
    <app-section-title
      [title]="'HEADER.PROYECTOS'"
      [subTitle]="'JOBS.DESCRIPCION'"
    >
    </app-section-title>

    <div class="projects__content">
      <div class="projects__row" *ngFor="let job of jobs">
        <iframe
          class="projects__video"
          [src]="transformUrl(job.video)"
          title="YouTube video player"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
        <div class="projects__details">
          <h1 class="second-title">{{ job.title | translate }}</h1>
          <div class="projects__details-content">
            <p
              class="projects__details-paragraph"
              [innerHtml]="job.description | translate"
            ></p>
          </div>
          <app-skills [skills]="job.skills"></app-skills>
        </div>
      </div>
    </div>
  </div>
</section>
