@import "src/shared.scss";

.projects {
  padding: 7rem 0;
}


.project__image:hover{
cursor: pointer;
}


@media print, screen and (max-width: $max-screen-phone) {
  .projects {
    padding: 4rem 0;
  }

  p {
    margin: 0 !important;
    text-align: center;
    font-size: 0.9rem;
  }

}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
  .projects {
    padding: 3rem 0;
  }

  p {
    margin: 0 !important;
    text-align: center;
    font-size: 0.9rem;
  }

}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
