<section id="projects" class="projects">
  <div class="main-container">
    <div class="container__title">
      <h1 class="title">Projects</h1>
      <span class="subtitle">
        Here you will find some of the personal and clients projects that I
        created with each project containing its own case study
      </span>
    </div>
    <div class="projects__content">
      <div class="projects__row" *ngFor="let item of jobs">
        <iframe
          class="projects__video"
          width="560"
          height="350"
          src="https://www.youtube.com/embed/1ozGKlOzEVc"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <div class="projects__details">
          <h1 class="second-title">Get to know me!</h1>
          <div class="projects__details-content">
            <p>
              I'm a Frontend Web Developer building the Front-end of Websites
              and Web Applications that leads to the success of the overall
              product. Check out some of my work in the Projects section.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
