<section id="projects" *ngIf="jobs.length" class="projects">
  <div class="main-container">
    <app-section-title
      [title]="'HEADER.PROYECTOS'"
      [subTitle]="'JOBS.DESCRIPCION'"
    >
    </app-section-title>

    <div class="projects__content">
      <div class="projects__row" *ngFor="let job of jobs">
        <div *ngIf="job.video" class="project__container-video">
          <youtube-player [videoId]="job.videoId" class="projects__video">
          </youtube-player>
        </div>
        <div *ngIf="job.image" class="project__container-image">
          <img
            class="project__image"
            [src]="job.image"
            alt="logo"
          />
        </div>
        <div class="projects__details">
          <h2 class="second-title">{{ job.title | translate }}</h2>
          <div class="projects__details-content">
            <p
              class="projects__details-paragraph"
              [innerHtml]="job.description | translate"
            ></p>
          </div>
          <app-skills [skills]="job.skills"></app-skills>
          <a *ngIf="job.link" class="project__link" [href]="job.link" target="_blank" rel="">Visitar sitio</a>
        </div>
      </div>
    </div>
  </div>
</section>
