<app-header></app-header>
<div class="success__container">
  <div class="success__content">
    <h2 class="success__title">
      {{ "SUCCESS.TITULO" | translate }}
    </h2>
    <h4>
      {{ "SUCCESS.DESCRIPCION" | translate }}
    </h4>
    <img
      class="success__image-email"
      src="../../../../assets/send-email.svg"
      alt="logo"
    />

    <div class="success__container-button">
      <a href="/" class="btn success__link">       {{ "SUCCESS.CONTINUAR" | translate }} </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
