<section id="about" class="about">
  <div class="main-container">
    <app-section-title
      [title]="'ABOUT_ME.TITULO'"
      [subTitle]="'ABOUT_ME.DESCRIPCION'"
    ></app-section-title>
    <div class="about__content">
      <div class="about__me">
        <h1 class="second-title">Get to know me!</h1>
        <div class="about__me-content">
          <p>
            I'm a Frontend Web Developer building the Front-end of Websites and
            Web Applications that leads to the success of the overall product.
            Check out some of my work in the Projects section.
          </p>
          <p>
            I also like sharing content related to the stuff that I have learned
            over the years in Web Development so it can help other people of the
            Dev Community. Feel free to Connect or Follow me on my Linkedin
            where I post useful content related to Web Development and
            Programming
          </p>
          <p>
            I'm open to Job opportunities where I can contribute, learn and
            grow. If you have a good opportunity that matches my skills and
            experience then don't hesitate to contact me.
          </p>
        </div>

        <div>
          <a href="./#project" class="btn about__me-contact"> Projects </a>
        </div>
      </div>
      <div class="about__skills">
        <h1 class="second-title">My Technical Skills!</h1>
        <div class="skills">
          <div class="skills__skill" *ngFor="let skill of technicalSkills">
            {{ skill | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
