<section id="about" class="about">
  <div class="main-container">
    <app-section-title
      [title]="'ABOUT_ME.TITULO'"
      [subTitle]="'ABOUT_ME.DESCRIPCION'"
    ></app-section-title>
    <div class="about__content">
      <div class="about__me">
        <h1 class="second-title">{{ "ABOUT_ME.CONOCEME" | translate }}</h1>
        <div class="about__me-content">
          <!-- <p>
            idea 1: mostrar lo que es mi fuerte. idea 2: mis trabajos con
            empresas internacionales. idea 3: retos que he resuelto utilizando
            la tecnologia. idea 4: mis buenos valores y la integracion con
            equipos
          </p> -->
          <p>
            Soy un desarrollador fullStack con solidos conocimientos en
            lenguajes de programación JavaScript y TypeScript.
          </p>
          <p>
            He participado en proyectos retadores para empresas de diferentes
            países, lo cual me ha permitido consolidar mis conocimientos
            técnicos y mejorar en la solución de problemas reales mediante la
            tecnologías.
          </p>
          <p>
            Me motiva a aprender dia a dia las
            y he tenido la oportunidad de encontrar personas talentosas que han
            contribuido a mi crecimiento profesional.
          </p>
          <p>
            Me motivan los nuevos desafios y poder conocer personas expertas en
            su tema.... .
          </p>
        </div>
        <div>
          <a href="./#project" class="btn about__me-contact">
            {{ "HEADER.PROYECTOS" | translate }}
          </a>
        </div>
      </div>
      <div class="about__skills">
        <h1 class="second-title">
          {{ "ABOUT_ME.HABILIDADES_TECNICAS" | translate }}
        </h1>
        <div class="skills">
          <div class="skills__skill" *ngFor="let skill of technicalSkills">
            {{ skill | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
