@import "./src/shared.scss";

.about {
  padding: 7rem 0;
  background-color: #fafafa;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

}
.about__me {
  display: flex;
  flex-direction: column;
}

.about__second-title--margin{
  margin-top: 2rem;
}

.about__me-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 2rem;
}
.about__me-contact {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__skill {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  font-size: 1.1rem;
  background: #9993;
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
