@import "./shared.scss";
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
html,
body {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
h2 {
  // font-family: "Open Sans", sans-serif;
}

a,
span,
p {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: black;
  text-decoration: initial;
}

.main-container {
  max-width: $big-max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  background: $base-color;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  transition: transform 0.3s;
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #facf0f;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.subtitle {
  display: block;
  text-align: center;
  color: #666;
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

.container__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.second-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

//phone
@media print, screen and (max-width: $max-screen-phone) {
  .content-view {
    padding: 0.5rem;
  }
  .container-main-view {
    margin: 1rem 0;
    width: 100%;
  }
}

//tablet
@media print,
  screen and (min-width: $min-screen-tablet) and (max-width: $max-screen-tablet) {
}

//desktop
@media print, screen and (min-width: $min-screen-desktop) {
}
