<section class="main-view__container">
  <div class="main-view__content">
      <h1 class="main-view__title">{{ "MAIN_VIEW.TITULO" | translate }}</h1>
      <p class="main-view__info">
        {{ "MAIN_VIEW.DESCRIPCION" | translate }}
      </p>
  </div>
  <!-- <div class="main-view__social">
    <div class="view-body">
      <h1 class="title-work">{{ "MAIN_VIEW.TITULO" | translate }}</h1>
      <span class="description-text">
        {{ "MAIN_VIEW.DESCRIPCION" | translate }}
      </span>
    </div>
  </div> -->
</section>
